@model Osszesitett
@{ ViewData["Title"] = Model.Magyar; }
<!-- Header section Start-->
<style>
    #vissza{
        font-size:30px !important;
        text-align:center !important;
        margin:30px !important;
    }
</style>
<header class="top">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <partial name="~/Views/Shared/_LoginPartial.cshtml" />
        <a asp-action="index">Főoldal</a>
        <a asp-action="Tortenet">Történet</a>
        <a asp-action="Feldolgozas">Feldolgozás</a>
        <a class="active" asp-action="Leiras">Leiras</a>
        <a asp-action="Ismerteto">Ismertető</a>
        <partial name="~/Views/Home/UserCheck.cshtml" />
    </div>

    <nav id="navbar">
        <!-- container Start-->
        <div class="container">
            <!--Row Start-->
            <div class="row">
                <div class="col-lg-5 col-md-5 align-self-center left-side">
                    <partial name="~/Views/Shared/_WelcomePartial.cshtml" />
                </div>
                <div class="col-lg-2 col-md-2 col-5 align-self-center logo">
                    <a asp-action="index"><img src="~/template/images/nav-logo.png" alt="logo"></a>
                </div>
                <div class="col-lg-5 col-md-5 col-7 align-self-center right-side">
                    <div class="social-icons square">
                        <!-- Page Content -->
                        <div id="page-content-wrapper">
                            <span class="slide-menu" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="social-icons another">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <!--Row Ended-->
        </div>
        <!-- container Ended-->
    </nav>
    <img class="border-img" src="~/template/images/border.png" width="100%" alt="">
</header>
<!-- Header section Ended-->

<section class="banner-another ">
    <!-- Banner section Start-->
</section>
<!-- services section Start -->
<section id="products">
    <div class="container">

        <div class="part-1" data-aos="fade-up" data-aos-delay="400">
            <div class="row">
                <div class="col-md-12 col-12 heading">
                    <h3><i class="fa fa-envira" aria-hidden="true"></i>@($"{Model.Magyar} ({Model.Latin})")</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <figure>
                        <img src="~/images/Novenyek/@Model.Kep" alt="@Model.Magyar" title="@Model.Magyar" width="100%">
                    </figure>
                </div>
                <div class="col-lg-9 col-md-8 col-12 col1">
                    <p><strong>Előfordulásának kezdeti hónapja:</strong> @(Model.Honap)</p>
                    <p><strong>Betegség típusa:</strong> @Model.Tipus </p>
                    <p><strong>Felhasznált része:</strong> @Model.Resz</p>
                </div>
            </div>
        </div>
        <div class="part-1" data-aos="fade-up" data-aos-delay="400">
            <div class="row">

                <div class="col-lg-9 col-md-8 col-12 col1">
                    <p>
                        @Model.Leiras
                    </p>
                </div>
            </div>
            <p id="vissza"><a asp-action="Leiras">Vissza</a></p>
        </div>
       
        </div>
        <p id="vissza"><a asp-action="Leiras">Vissza</a></p>
</section>
<!-- services section Ended -->

<footer class="contact">
    <div class="gradient"></div>
    <div class="copyright">
        <div class="container">
            <div class="row border-img">
                <div class="col-md-12">
                    <img src="~/template/images/border.png" alt="">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <a asp-action="index"><img src="~/template/images/footer-logo-bg.png" alt="logo"></a>
                </div>
                <div class="col-lg-9 col-md-12 right-part">
                    <ul class="ml-auto">
                        <partial name="~/Views/Home/ProfilCheck.cshtml" />
                        <li class="nav-item active">
                            <a class="nav-link active" asp-action="index">Főoldal <span class="sr-only">(current)</span></a>
                        </li>
                        <li><a class="hidden-xs">~</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Feldolgozas">Feldolgozás</a></li>
                        <li><a class="hidden-xs">~</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Leiras">Leírás</a></li>
                        <li><a class="hidden-xs">~</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="Ismerteto">Ismertető</a></li>
                        <partial name="~/Views/Home/UserCheckBar.cshtml" />
                    </ul>
                    <p> (C) Rajcsány Zsolt - 2021 - Powered by: <a href="https://www.template.net/editable/websites/html5" target="_blank"> Template.net</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Return to Top -->

<script></script>

